<!doctype html>
<html>

<head>
    <title>Movie Classification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h2>Please enter your movie review (15&gt; characters):</h2>
    <form method=post action="/results">
        <dl>
            <!--render field-->
            {{form.moviereview(cols='60', rows='10')}}
        </dl>
        <div>
            <input type=submit value='Submit review' name='submit_btn'>
        </div>
    </form>
</body>

</html>